%pre
#change to tty2 to get input
chvt 1
exec </dev/tty2 > /dev/tty2

#Get hostname
echo "What is my hostname?"
read NAME

#Get IP
echo "What is my IP?"
read ADDR 

#Get Gateway
echo "What is the Gateway?"
read GW

path_network="/etc/sysconfig/network"

#build /etc/sysconfig/network
echo "NETWORKING=yes" > path_network
echo "HOSTNAME=${NAME}" >> path_network
echo "GATEWAY=${GW}" >> path_network

path_ens33="/etc/sysconfig/network-scripts/ifcfg-ens33"

#build /etc/sysconfig/network-scripts/ifcfg-ens33
echo "DEVICE=ens33" > path_ens33
echo "BOOTPROTO=none" >> path_ens33
echo "IPV6INIT=no" >> path_ens33
echo "MTU=1500" >> path_ens33
echo "NM_CONTROLLED=no" >> path_ens33
echo "ONBOOT=yes" >> path_ens33
echo "TYPE=Ethernet" >> path_ens33
echo "IPADDR=${ADDR}" >> path_ens33
echo "NETMASK=255.255.0.0" >> path_ens33

#change back to tty1 and continue script
chvt 6
exec < /dev/tty1 > /dev/tty1
%end


install
#Langue
lang fr_FR.UTF-8
#Selection agencement clavier
keyboard fr
#Conf de la timezone
timezone Europe/Paris
#5
auth --useshadow --enablemd5
#Desactivation du SElinux pour des problemes de compatibilitÃ© 
selinux --disabled
#Desactivatio de firewallD
#firewall --disabled
#Acceptation EULA
services --enabled=NetworkManager,sshd
eula --agreed


#repo de centos7 
repo --name=epel --baseurl=http://dl.fedoraproject.org/pub/epel/7/x86_64/
#Image de centos7
url --url="http://mirror.cogentco.com/pub/linux/centos/7/os/x86_64/"



#Configuration du boot et du partionnement
bootloader --location mbr  --boot-drive=sda
clearpart --all --drive=sda
autopart


#Mot de passe du root ( non crypté mais a faire plus tard )
rootpw P@ssw0rd

#Packages a installer 
%packages
git
zsh
net-tools
epel-release
vim


%end
%post
#USER IASS
useradd -p 'P@ssw0rd' iaas
#Ajout de l'user IAAS en sudoer
usermod -a iaas -G wheel

#Ajout DNS
dns="/etc/resolv.conf"
echo " "
/bin/cat <<EOM >$dns
search iaas.dbz
nameserver 10.0.255.1
EOM
service network restart >/dev/null

%end
